<% include ./head %>

<script type="text/template" id="tpl_countryList">
	{% rc.countries.forEach(function(o){ %}
	<button class="country unselected" data-country_code="{%= o.country_code %}" data-continent="{%= rc.continent %}">
		<span class='flag-img'><img src='/img/flag/{%= o.country_code %}.png' title='{%= o.country_name %}'></span>
		<span class="text">{%= o.country_name %}</span>
	</button>
	{% }); %}
</script>

<script type="text/template" id="tpl_card">
	{% rc.codes.forEach(function(code){ %}
	<div class="card">
		<div class="row">
			<div class="info">
				<div class="label">Trainer Name</div>
				<div class="text">{%= code.trainer_name %}</div>

				<div class="label mt-10">Country</div>
				<div class="text"><span class="flag-mini"><img src='/img/flag/{%= code.country_code %}.png' title='{%= code.country_name %}'></span> {%= code.country_name %}</div>
			</div>

			<div class="image"><img src="{%= code.user_image %}"></div>
		</div>

		<div class="row label  mt-10">Trainer Code</div>
		<div id="trainer-code-{%= code.id %}" class="row trainer-code">{%= code.trainer_code %}</div>

		{% if (code.comment) { %}
		<div class="line2"></div>
		<div class="row comment">{%= code.comment %}</div>
		<div class="line2"></div>
		{% } %}

		<div class="row justify-content-center mt-10">
			<button class="tt copy-btn primary-btn2 text-uppercase" data-clipboard-target="#trainer-code-{%= code.id %}" data-toggle="tooltip">Copy this trainer code</button>
		</div>

		<div class="row comment justify-content-center mt-10">
			<button class="primary-btn2 text-uppercase mr-15 like-btn {% if (code.liked) { %}primary-btn2-selected{% } %}" data-code_id="{%= code.id %}">LIKE<span class="lnr lnr-thumbs-up"></span></button>
			<button class="primary-btn2 text-uppercase dislike-btn {% if (code.disliked) { %}primary-btn2-selected{% } %}" data-code_id="{%= code.id %}">DISLIKE<span class="lnr lnr-thumbs-down"></span></button>
		</div>

		<div class="line"></div>

		<div class="row controls">
			<div class="col-4 like">
				<a href="#"><span class="lnr lnr-thumbs-up"></span><span class="like-val">{%= code.like %}</span></a>
			</div>
			<div class="col-8" data-country_code="{%= rc.reqCountryCode %}" data-continent="{%= rc.reqContinent %}" data-code_id="{%= code.id %}">
			</div>
		</div>
	</div>
	{% }) %}
</script>

<script type="text/template" id="tpl_card-error">
	<div class="card">
		<h3>OOPS!</h3>
		<div class="line"></div>
		<div>Trainer data does not exist in the country you selected. Please try other countries!</div>
		<div class="line"></div>
	</div>
</script>

<section class="section-gap-sm">
		<div class="container">
			<div class="row d-flex justify-content-center session-title">
				<div class="col-md-8 header-text">
					<div class="lnr-hover"><span class="lnr lnr-rocket"></span></div>
					<h2>Find global friends</h2>
					<p>
						In which continent are you looking for friends?
					</p>
					<div class="line"></div>
				</div>
			</div>
		</div>
</section>
<section class="continent">
	<div id="map-continents">
		<ul class="continents">
			<li class="c1"><a href="#AF" rel="nofollow">Africa <i><%= continentCounts.AF %></i></a></li>
			<li class="c2"><a href="#AS" rel="nofollow">Asia <i><%= continentCounts.AS %></i></a></li>
			<li class="c3"><a href="#OC" rel="nofollow">Australia <i><%= continentCounts.OC %></i></a></li>
			<li class="c4"><a href="#EU" rel="nofollow">Europe <i><%= continentCounts.EU %></i></a></li>
			<li class="c5"><a href="#NA" rel="nofollow">North America <i><%= continentCounts.NA %></i></a></li>
			<li class="c6"><a href="#SA" rel="nofollow">South America <i><%= continentCounts.SA %></i></a></li>
		</ul>
	</div>
	<div class="row country-list justify-content-center" id="country-list">
		<% if (typeof countries == 'object') { %>
		<% countries.forEach(function(o) { %>
		<button class="country unselected" data-country_code="<%= o.country_code %>" data-continent="<%= continent%>">
			<span class='flag-img'><img src='/img/flag/<%= o.country_code %>.png' title='<%= o.country_name %>'></span>
			<span class="text"><%= o.country_name %></span>
		</button>
		<% }); %>
		<% } %>
	</div>
	<input id="continent-holder" type="hidden" value="<%= continent%>">
</section>

<section class="section-gap-sm">
	<div id="card-wrapper" class="container codes-view">
	</div>
</section>

<div class="row justify-content-center pb-50">
	<a href="#" rel="nofollow"><button id="more-btn" class="primary-btn text-uppercase" style="display: none;" data-continent="<%= continent%>">Show more trainers<span class="lnr lnr-pointer-up"></span></button></a>
</div>

<a id="top" href="#" rel="nofollow"><span class="lnr lnr-chevron-up-circle"></span></a>

<% include ./foot %>

<script type="text/javascript">
	$(document).ready(function(){
		var countryListEl = $("#country-list"),
			cardEl = $("#card-wrapper"),
			moreBtnEl = $("#more-btn"),
			lastSelectedCountry,
			lastCodeId;

		var resetSelectedAndGetCodeEvent = function(e) {
			e.preventDefault();

			if (lastSelectedCountry) {
				lastSelectedCountry.removeClass('selected');
				lastSelectedCountry.addClass('unselected');
			}

			lastSelectedCountry = $(e.currentTarget);
			lastSelectedCountry.removeClass('unselected');
			lastSelectedCountry.addClass('selected');

			lastCodeId = undefined;

			var countryCode = $(e.currentTarget).data('country_code'),
				continent = $(e.currentTarget).data('continent');

			moreBtnEl.hide();

			$.ajax({
				type: "POST",
				url: "/code/search/country/list",
				data: {
					continent: continent,
					country_code: countryCode,
					last_code_id: lastCodeId,
					path: "/code/search/"
				},
				success: function (result) {
					if (result.errorType == "login") {
						alert(result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType == "register") {
						alert(result.errorMessage);
						return window.location.href = "/code/register";
					} else if (result.errorType == "empty") {
						return alert(result.errorMessage);
					} else if (result.errorType) {
						return alert('[ERROR] ' + result.errorMessage);
					}

					if (!result.codes || result.codes.length == 0) {
						cardEl.html(_.template($('#tpl_card-error').html())());
						return;
					}

					cardEl.html(_.template($('#tpl_card').html())(result));

					lastCodeId = result.lastCodeId;
					if (lastCodeId > 0) {
						moreBtnEl.data('continent', continent);
						moreBtnEl.data('country_code', countryCode);
						moreBtnEl.show();
					}
				},
				error: function (req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		};

		new ClipboardJS('.copy-btn');
		$('body').on('click', '.copy-btn', function(e) {
			e.preventDefault();
			var btnEl = $(e.currentTarget);

			btnEl.tooltip({
				trigger: 'manual',
				placement: 'top'
			});

			setTooltip(btnEl, 'Copied!');
			hideTooltip(btnEl);
		});

		$('body').on('click', '.like-btn', function(e) {
			e.preventDefault();
			var btnEl = $(e.currentTarget),
				codeId= btnEl.data('code_id');
			$.ajax({
				type: "POST",
				url: "/code/like",
				data: {
					code_id: codeId,
					path: "/code/search/"
				},
				success: function(result) {
					if (result.errorType == "login") {
						alert(result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType) {
						setTooltip(btnEl, result.errorMessage);
						hideTooltip(btnEl);
						return;
					}

					if (result.isCancel) {
						btnEl.removeClass('primary-btn2-selected');
					} else {
						btnEl.addClass('primary-btn2-selected');
					}

					var valueEl = btnEl.parent().siblings(".controls").find(".like-val"),
						msg = (result.isCancel) ? "Canceled" : "Liked!",
						increments = (result.isCancel) ? -1 : 1;

					btnEl.tooltip({
						trigger: 'manual',
						placement: 'bottom'
					});

					valueEl.text(Number(valueEl.text()) + increments);
					setTooltip(btnEl, msg);
					hideTooltip(btnEl);
				},
				error: function(req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		});

		$('body').on('click', '.dislike-btn', function(e) {
			e.preventDefault();
			var btnEl = $(e.currentTarget),
				codeId= btnEl.data('code_id');
			$.ajax({
				type: "POST",
				url: "/code/dislike",
				data: {
					code_id: codeId,
					path: "/code/search/"
				},
				success: function(result) {
					if (result.errorType == "login") {
						alert(result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType) {
						setTooltip(btnEl, result.errorMessage);
						hideTooltip(btnEl);
						return;
					}

					if (result.isCancel) {
						btnEl.removeClass('primary-btn2-selected');
					} else {
						btnEl.addClass('primary-btn2-selected');
					}

					btnEl.tooltip({
						trigger: 'manual',
						placement: 'bottom'
					});

					var msg = (result.isCancel) ? "Canceled" : "Disliked!";
					setTooltip(btnEl, msg);
					hideTooltip(btnEl);
				},
				error: function(req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		});

		$('body').on('click', '#more-btn', function(e) {
			e.preventDefault();
			var countryCode = $(e.currentTarget).data('country_code'),
				continent = $(e.currentTarget).data('continent');

			moreBtnEl.tooltip({
				trigger: 'manual',
				placement: 'bottom'
			});

			setTooltip(moreBtnEl, "Loading...");
			hideTooltip(moreBtnEl);

			$.ajax({
				type: "POST",
				url: "/code/search/country/list",
				data: {
					continent: continent,
					country_code: countryCode,
					last_code_id: lastCodeId,
					path: "/code/search/"
				},
				success: function (result) {
					moreBtnEl.tooltip('hide');

					if (result.errorType == "login") {
						alert(result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType == "register") {
						alert(result.errorMessage);
						return window.location.href = "/code/register";
					} else if (result.errorType == "empty") {
						moreBtnEl.hide();
						return alert(result.errorMessage);
					} else if (result.errorType) {
						return alert('[ERROR] ' + result.errorMessage);
					}

					if (result.lastCodeId == -1) {
						moreBtnEl.hide();
						lastCodeId = result.lastCodeId;
					}

					if (result.codes && result.codes.length > 0) {
						var loaded = _.template($('#tpl_card').html())(result);
						cardEl.html(cardEl.html() + loaded);

						lastCodeId = result.lastCodeId;
						moreBtnEl.data('continent', continent);
						moreBtnEl.data('country_code', countryCode);
					}
				},
				error: function (req, status, e) {
					moreBtnEl.tooltip('hide');
					alert('[ERROR] ' + e);
				}
			});
		});

		$('body').on('click', '.country', resetSelectedAndGetCodeEvent);

		var onclick = function(e) {
			var rLink = e.children("A").eq(0).attr("href"),
				rText = e.children("A").eq(0).text(),
				rClass = e.attr("class").split(" ")[0],

			continentCode = rLink.replace("#", "");
			moreBtnEl.hide();

			$.ajax({
				type: "POST",
				url: "/code/search/continent",
				data: {
					continent: continentCode,
					path: "/code/search/"
				},
				success: function (result) {
					if (result.errorType == "login") {
						alert('[ERROR] ' + result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType) {
						alert('[ERROR] ' + result.errorMessage);
						return;
					}

					if (result.countries) {
						var newHtml = _.template($('#tpl_countryList').html())(result);
						countryListEl.html(newHtml);

						cardEl.html("");
					}

				},
				error: function (req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		};

		$("#map-continents").CSSMap({
			"size": 850,
			"tooltips": "visible",
			"responsive": "auto",
			"tapOnce": true,
			"cities": true,
			"onClick": onclick
		});

		var continentCode = $("#continent-holder").val();
		if (continentCode) {
			var classMap = {
				AF: "c1",
				AS: "c2",
				OC: "c3",
				EU: "c4",
				NA: "c5",
				SA: "c6"
			},
			className = classMap[continentCode];

			$("#map-continents").find('li.' + className).addClass('active-region');
		};

		$(window).scroll(function() {
			if ($(this).scrollTop() > 500) {
				$('#top').fadeIn();
			} else {
				$('#top').fadeOut();
			}
		});

		$("#top").click(function() {
			$('html, body').animate({
				scrollTop : 0
			}, 400);
			return false;
		});
	});
</script>

</body>
</html>
