<% include ./head %>

<script type="text/template" id="tpl_countryList">
	{% rc.countries.forEach(function(o){ %}
	<button class="country unselected" data-country_code="{%= o.country_code %}" data-continent="{%= rc.continent %}">
		<span class='flag-img'><img src='/img/flag/{%= o.country_code %}.png' title='{%= o.country_name %}'></span>
		<span class="text">{%= o.country_name %}</span>
	</button>
	{% }); %}
</script>

<script type="text/template" id="tpl_card">
	<div class="card">
		<div class="row">
			<div class="info">
				<input type="hidden" name="code_id" value="{%= rc.code.id %}">
				<div class="label">Trainer Name</div>
				<div class="text">{%= rc.code.trainer_name %}</div>

				<div class="label mt-10">Country</div>
				<div class="text"><span class="flag-mini"><img src='/img/flag/{%= rc.code.country_code %}.png' title='{%= rc.code.country_name %}'></span> {%= rc.code.country_name %}</div>
			</div>

			<div class="image"><img src="{%= rc.code.user_image %}"></div>
		</div>

		<div class="row label  mt-10">Trainer Code</div>
		<div id="trainer-code" class="row trainer-code">{%= rc.code.trainer_code %}</div>

		{% if (rc.code.comment) { %}
		<div class="line2"></div>
		<div class="row comment">{%= rc.code.comment %}</div>
		<div class="line2"></div>
		{% } %}

		<div class="row justify-content-center mt-10">
			<button class="tt copy-btn primary-btn2 text-uppercase" data-clipboard-target="#trainer-code" data-toggle="tooltip">Copy this trainer code</button>
		</div>

		<div class="row comment justify-content-center mt-10">
			<button class="primary-btn2 text-uppercase mr-15 like-btn">LIKE<span class="lnr lnr-thumbs-up"></span></button>
			<button class="primary-btn2 text-uppercase dislike-btn">DISLIKE<span class="lnr lnr-thumbs-down"></span></button>
		</div>

		<div class="line"></div>

		<div class="row controls">
			<div class="col-4 like">
				<a href="#"><span class="lnr lnr-thumbs-up"></span><span class="like-val">{%= rc.code.like %}</span></a>
			</div>
			<div class="another col-8" data-country_code="{%= rc.reqCountryCode %}" data-continent="{%= rc.reqContinent %}">
				<a href="#">Find another trainer <span class="lnr lnr-sync"></span></a>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="tpl_card-error">
	<div class="card">
		<h3>ERROR</h3>
		<div class="line"></div>
		<div>Trainer data does not exist in the country you selected. Please try other countries!</div>
		<div class="line"></div>
	</div>
</script>

<section class="continent section-gap-sm">
	<div class="container">
		<div id="card-wrapper" class="code-view row d-flex justify-content-center session-title">
			<div class="col-md-8 header-text">
				<div class="lnr-hover"><span class="lnr lnr-rocket"></span></div>
				<h2>Find global friends</h2>
				<p>
					In which continent are you looking for friends?
				</p>
			</div>
		</div>

		<div class="line"></div>
		<div id="map-continents">
			<ul class="continents">
				<li class="c1"><a href="#AF" rel="nofollow">Africa</a><b class="badge badge-info"><%= continentCounts.AF %></b></li>
				<li class="c2"><a href="#AS" rel="nofollow">Asia</a><b class="badge badge-info"><%= continentCounts.AS %></b></li>
				<li class="c3"><a href="#OC" rel="nofollow">Australia</a><b class="badge badge-info"><%= continentCounts.OC %></b></li>
				<li class="c4"><a href="#EU" rel="nofollow">Europe</a><b class="badge badge-info"><%= continentCounts.EU %></b></li>
				<li class="c5"><a href="#NA" rel="nofollow">North America</a><b class="badge badge-info"><%= continentCounts.NA %></b></li>
				<li class="c6"><a href="#SA" rel="nofollow">South America</a><b class="badge badge-info"><%= continentCounts.SA %></b></li>
			</ul>
		</div>
	</div>

	<div class="row country-list justify-content-center" id="country-list">
		<% if (typeof countries == 'object') { %>
		<% countries.forEach(function(o) { %>
		<button class="country unselected" data-country_code="<%= o.country_code %>" data-continent="<%= continent%>">
			<span class='flag-img'><img src='/img/flag/<%= o.country_code %>.png' title='<%= o.country_name %>'></span>
			<span class="text"><%= o.country_name %></span>
		</button>
		<% }); %>
		<% } %>
	</div>
	<input id="continent-holder" type="hidden" value="<%= continent%>">
</section>

<% include ./foot %>

<script type="text/javascript">
	$(document).ready(function(){
		var countryListEl = $("#country-list"),
			cardEl= $("#card-wrapper"),
			lastSelected;

		var getCodeEvent = function(e) {
			e.preventDefault();

			var _copyBtnEl = $('.copy-btn'),
				_likeBtnEl = $(".like-btn"),
				_dislikeBtnEl = $(".dislike-btn");
			_copyBtnEl && _copyBtnEl.tooltip('hide');
			_likeBtnEl && _likeBtnEl.tooltip('hide');
			_dislikeBtnEl && _dislikeBtnEl.tooltip('hide');

			var countryCode = $(e.currentTarget).data('country_code'),
				continent = $(e.currentTarget).data('continent');
			$.ajax({
				type: "POST",
				url: "/code/search/country",
				data: {
					continent: continent,
					country_code: countryCode,
					path: "/code/search/"
				},
				success: function (result) {
					if (result.errorType == "login") {
						alert(result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType == "register") {
						alert(result.errorMessage);
						return window.location.href = "/code/register";
					} else if (result.errorType) {
						alert('[ERROR] ' + result.errorMessage);
						return;
					}

					if (!result.code) {
						cardEl.html(_.template($('#tpl_card-error').html())());
						return;
					}

					cardEl.html(_.template($('#tpl_card').html())(result));
					// add event listener
					new ClipboardJS('.copy-btn');
					var copyBtnEl = $('.copy-btn'),
						likeBtnEl = $(".like-btn"),
						dislikeBtnEl = $(".dislike-btn");

					copyBtnEl.tooltip({
						trigger: 'manual',
						placement: 'top'
					});

					$('.copy-btn').click(function(e) {
						setTooltip(copyBtnEl, 'Copied!');
						hideTooltip(copyBtnEl);
					});

					$('.like-btn').tooltip({
						trigger: 'manual',
						placement: 'bottom'
					});

					$('.dislike-btn').tooltip({
						trigger: 'manual',
						placement: 'bottom'
					});

					if (result.code.liked) {
						likeBtnEl.addClass('primary-btn2-selected');
					}

					if (result.code.disliked) {
						dislikeBtnEl.addClass('primary-btn2-selected');
					}

					likeBtnEl.click(function(e) {
						e.preventDefault();
						var codeIdEl= $("input[name='code_id']");
						$.ajax({
							type: "POST",
							url: "/code/like",
							data: {
								code_id: codeIdEl.val(),
								path: "/code/search/"
							},
							success: function(result) {
								if (result.errorType == "login") {
									alert(result.errorMessage);
									return window.location.href = result.siteConfig.loginUrl;
								} else if (result.errorType) {
									setTooltip(likeBtnEl, result.errorMessage);
									hideTooltip(likeBtnEl);
									return;
								}

								var likeEl = $(".like-val"),
									msg = (result.isCancel) ? "Canceled!" : "Liked!",
									increments = (result.isCancel) ? -1 : 1;

								if (result.isCancel) {
									likeBtnEl.removeClass('primary-btn2-selected');
								} else {
									likeBtnEl.addClass('primary-btn2-selected');
								}

								likeEl.text(Number(likeEl.text()) + increments);
								setTooltip(likeBtnEl, msg);
								hideTooltip(likeBtnEl);
							},
							error: function(req, status, e) {
								alert('[ERROR] ' + e);
							}
						});
					});

					dislikeBtnEl.click(function(e) {
						e.preventDefault();
						var codeIdEl= $("input[name='code_id']");
						$.ajax({
							type: "POST",
							url: "/code/dislike",
							data: {
								code_id: codeIdEl.val(),
								path: "/code/search/"
							},
							success: function(result) {
								if (result.errorType == "login") {
									alert(result.errorMessage);
									return window.location.href = result.siteConfig.loginUrl;
								} else if (result.errorType) {
									setTooltip(dislikeBtnEl, result.errorMessage);
									hideTooltip(dislikeBtnEl);
									return;
								}

								var msg = (result.isCancel) ? "Canceled!" : "Disliked!";

								if (result.isCancel) {
									dislikeBtnEl.removeClass('primary-btn2-selected');
								} else {
									dislikeBtnEl.addClass('primary-btn2-selected');
								}

								setTooltip(dislikeBtnEl, msg);
								hideTooltip(dislikeBtnEl);
							},
							error: function(req, status, e) {
								alert('[ERROR] ' + e);
							}
						});
					});

					$(".another").click(getCodeEvent);
					// event listener end
				},
				error: function (req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		};
		var resetSelectedAndGetCodeEvent = function(e) {
			if (lastSelected) {
				lastSelected.removeClass('selected');
				lastSelected.addClass('unselected');
			}

			lastSelected = $(e.currentTarget);
			lastSelected.removeClass('unselected');
			lastSelected.addClass('selected');

			getCodeEvent(e);
		};

		$('body').on('click', '.country', resetSelectedAndGetCodeEvent);

		var onclick = function(e) {
			var rLink = e.children("A").eq(0).attr("href"),
				rText = e.children("A").eq(0).text(),
				rClass = e.attr("class").split(" ")[0],
				continentCode = continentCodeMap[rText];

			$.ajax({
				type: "POST",
				url: "/code/search/continent",
				data: {
					continent: continentCode,
					path: "/code/search/"
				},
				success: function (result) {
					if (result.errorType == "login") {
						alert('[ERROR] ' + result.errorMessage);
						return window.location.href = result.siteConfig.loginUrl;
					} else if (result.errorType) {
						alert('[ERROR] ' + result.errorMessage);
						return;
					}

					if (result.countries) {
						var newHtml = _.template($('#tpl_countryList').html())(result);
						countryListEl.html(newHtml);
					}
				},
				error: function (req, status, e) {
					alert('[ERROR] ' + e);
				}
			});
		};

		var numberTag = "B",
			setNumbers = function(region){
				var getLink = region.getElementsByTagName("A")[0],
					getNumber = region.getElementsByTagName(numberTag)[0],
					leftPosition = $(getLink).position().left,
					topPosition = $(getLink).position().top + 18,
					numberMarginTop = Math.floor($(getNumber).outerHeight() / -2),
					numberMarginLeft = Math.floor($(getNumber).outerWidth() / -2),
					setPosition = {
						"left": leftPosition + "px",
						"marginLeft": numberMarginLeft + "px",
						"marginTop": numberMarginTop + "px",
						"position": "absolute",
						"top": topPosition + "px",
						"zIndex": 88
					};

				$(getNumber).css(setPosition);
			};

		var onload = function(e) {
			var getItems = e.find("LI");
			for(var i = 0, region; region = getItems[i]; i++){
				console.log(" > " + region);
				setNumbers(region);
			}
		};

		$("#map-continents").CSSMap({
			"size": 850,
			"tooltips": "visible",
			"responsive": "auto",
			"tapOnce": true,
			"cities": true,
			"onClick": onclick,
			"onLoad": onload
		});

		var continentCode = $("#continent-holder").val();
		if (continentCode) {
			var classMap = {
				AF: "c1",
				AS: "c2",
				OC: "c3",
				EU: "c4",
				NA: "c5",
				SA: "c6"
			},
			className = classMap[continentCode];

			$("#map-continents").find('li.' + className).addClass('active-region');
		};

	});
</script>

</body>
</html>
