<% include ./head %>

<section class="code-view section-gap-sm">
	<div class="container">
		<div class="row d-flex justify-content-center session-title">
			<div class="col-md-8 header-text">
				<div class="lnr-hover"><span class="lnr lnr-users"></span></div>
				<h2>Trainer Code</h2>
				<p>
					Add below as a friend in your Pokémon GO app.
				</p>
			</div>
		</div>

		<div class="card">
			<% if (typeof errorType != 'undefined' && errorType) { %>
			<h3>ERROR</h3>
			<div><%= errorMessage %></div>
			<div class="line"></div>

			<div class="row controls">
				<div class="another col-12">
					<a href="/code/search">Look another countries <span class="lnr lnr-location"></span></a>
				</div>
			</div>
			<% } else { %>
			<div class="row">
				<div class="info">
					<input type="hidden" name="code_id" value="<%= code.id %>">
					<div class="label">Trainer Name</div>
					<div class="text"><%= code.trainer_name %></div>

					<div class="label mt-10">Country</div>
					<div class="text"><%= code.country_name %></div>
				</div>

				<div class="image">
					<img src="<%= code.user_image %>">
				</div>
			</div>

			<div class="row label  mt-10">Trainer Code</div>
			<div id="trainer-code" class="row trainer-code"><%= code.trainer_code %></div>

			<div class="row justify-content-center mt-20">
				<button class="tt copy-btn primary-btn2 text-uppercase" data-clipboard-target="#trainer-code" data-toggle="tooltip">Copy this trainer code</button>
			</div>
			<div class="row comment justify-content-center mt-10">
				<button class="primary-btn2 text-uppercase mr-15 like-btn">LIKE<span class="lnr lnr-thumbs-up"></span></button>
				<button class="primary-btn2 text-uppercase dislike-btn">DISLIKE<span class="lnr lnr-thumbs-down"></span></button>
			</div>

			<div class="line"></div>

			<div class="row controls">
				<div class="col-4 like">
					<a href="#"><span class="lnr lnr-thumbs-up"></span><span class="like-val"><%= code.like %></span></a>
				</div>
				<div class="another col-8">
					<a href="/code/view">Find another trainer <span class="lnr lnr-sync"></span></a>
				</div>
			</div>
			<% } %>
		</div>
	</div>

	<div class="row justify-content-center pt-20">
		<a href="/code/search"><button class="primary-btn text-uppercase">Look up more countries<span class="lnr lnr-arrow-right"></span></button></a>
	</div>
</section>

<% include ./foot %>
<script>
	new ClipboardJS('.copy-btn');

	$('.copy-btn').tooltip({
		trigger: 'manual',
		placement: 'top'
	});

	$('.copy-btn').click(function(e) {
		var el = $(".copy-btn");
		setTooltip(el, 'Copied!');
		hideTooltip(el);
	});


	var likeBtnEl = $(".like-btn");
	$('.like-btn').tooltip({
		trigger: 'manual',
		placement: 'bottom'
	});

	var dislikeBtnEl = $(".dislike-btn");
	$('.dislike-btn').tooltip({
		trigger: 'manual',
		placement: 'bottom'
	});

	likeBtnEl.click(function(e) {
		e.preventDefault();
		var codeIdEl= $("input[name='code_id']");
		$.ajax({
			type: "POST",
			url: "/code/like",
			data: {
				code_id: codeIdEl.val(),
			},
			success: function(result) {
				if (result.errorType == "login") {
					alert('[ERROR] ' + result.errorMessage);
					return window.location.href = result.siteConfig.loginUrl;
				} else if (result.errorType) {
					setTooltip(likeBtnEl, result.errorMessage);
					hideTooltip(likeBtnEl);
					return;
				}

				setTooltip(likeBtnEl, 'Liked!');
				hideTooltip(likeBtnEl);

				// increase
				var likeEl = $(".like-val");
				likeEl.text(Number(likeEl.text()) + 1);
			},
			error: function(req, status, e) {
				alert('[ERROR] ' + e);
			}
		});
	});

	dislikeBtnEl.click(function(e) {
		e.preventDefault();
		var codeIdEl= $("input[name='code_id']");
		$.ajax({
			type: "POST",
			url: "/code/dislike",
			data: {
				code_id: codeIdEl.val()
			},
			success: function(result) {
				if (result.errorType == "login") {
					alert('[ERROR] ' + result.errorMessage);
					return window.location.href = result.siteConfig.loginUrl;
				} else if (result.errorType) {
					setTooltip(dislikeBtnEl, result.errorMessage);
					hideTooltip(dislikeBtnEl);
					return;
				}

				setTooltip(dislikeBtnEl, 'Disliked!');
				hideTooltip(dislikeBtnEl);
			},
			error: function(req, status, e) {
				alert('[ERROR] ' + e);
			}
		});
	});
</script>

</body>
</html>
